



<p>
  <%= link_to image_tag('show.png',:width =>30,:height =>30,:alt => "Show Details"), @user %> |
   <%= link_to image_tag('all.png',:width =>30,:height =>30,:alt => "View All"),  users_path %>
</p>
<%= render 'form' %>